* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(fotos/fondo.jpg);
  background-size: cover;
  font-family: Mate SC;
}

/*Estilos Generales*/

h1 {
  color: #660066;
  text-align: center;
  font-size: 6vw;
  animation-name: animate__backInDown;
  animation-duration: 2s;
}

h3 {
  animation-name: animate__zoomIn;
  animation-duration: 2s;
}

a {
  color: #660066;
}

a:hover {
  color: #660066;
}

.negrita {
  font-weight: bold;
}

.enlaces {
  text-decoration: none;
}

.sub-titulo {
  color: #660066;
  margin: 50px;
  font-size: 3vw;
}

.parrafos {
  color: #666699;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 2vw;
}

.sub-icono {
  color: #660066;
}

.negrita-c {
  font-weight: bold;
  color: #f9feff;
}

.textoResaltado {
  font-size: 2.3vw;
  color: #660033;
  margin: 20px;
}

.home {
  text-decoration: none;
}


/*Fín Estilos Generales*/

/*Enlace Inicio*/

.text-inicio {
  text-align: center;
  color: #660066;
  font-size: 4vw;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 150px;
  text-align: center;
  border-left: 0px solid #660066;
  border-right: 0px solid #660066;
  transition: .9s;
  cursor: pointer;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  width: 100%;
  height: 100%;
  border-left: 0px solid #660066;
  border-right: 0px solid #660066;
  transform: rotate(0);
  transition: .9s;
}

.container:hover,
.container:hover::before,
.container:hover::after {
  border-left: 4px solid #660066;
  border-right: 4px solid #660066;
}

.container:hover::before {
  transform: rotate(calc(2 * 60deg));
}

.container:hover::after {
  transform: rotate(calc(2 * -60deg));
}

.container .fas {
  color: #660066;
  font-size: 100px;
  line-height: 150px;
}

/*Fín Enlace Inicio*/

/*Menú*/

ul#menu-topo {
  margin: 0 auto;
  padding: 10px 0;
  list-style-type: none;
  font-size: 2em;
  text-align: center;
  font-family: Mate SC;
}

ul#menu-topo li {
  display: inline;
  margin: 0;
}

ul#menu-topo li a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  text-decoration: none;
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }

  #post-body {
    margin: 5%;
  }

  .nav-menu {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    background-color: #660066;
    table-layout: fixed;
  }

  ul#menu-topo {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #660066;
    table-layout: fixed;
    transition: all 3s ease-in;
  }

  ul#menu-topo li {
    display: block;
    border-bottom: 1px solid #660066;
    line-height: 3;
    color: white;
  }

  #menu-topo li a {
    color: white;
  }

  ul#menu-topo li.hide {
    display: none !important;
  }

  #menu-topo li:hover {
    border-bottom: 1px solid #660066;
    background-color: #660066;
  }

  /****TOGGLE****/
  .nav-toggle-label:before {
    color: white;
    content: '☰';
  }

  .nav-toggle:checked+ul#menu-topo {
    display: table;
    margin-left: 0;
  }
}

/*Fín Menú*/

/*Sección About*/

.servicios-about {
  color: #660066;
  margin-top: 100px;
  font-size: 2.5vw;
}

.servicio-tipo {
  color: #660066;
}

.servicio-desc {
  color: #666699;
  font-size: 20px;
}

/*Fín Sección About*/

/*Skills*/

.services {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.services__box {
  position: relative;
  width: 350px;
  height: 280px;
  background: #666699;
  border-radius: 20px;
  overflow: hidden;
}

.services__box:hover .services__content {
  transform: scale(1);
  transition-delay: 0.25s;
}

.services__box:hover .services__icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 30px;
  left: calc(50% - 40px);
  transition-delay: 0s;
}

.services__box:hover .services__icon ion-icon {
  font-size: 2rem;
  transition-delay: 0s;
}

.icon-service {
  font-size: 4rem;
  color: #fff;
}

.services__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-180deg, #ad5389, #3c1053);
  transition: 0.5s;
  z-index: 2;
  transition-delay: 0.25s;
}

.services__icon ion-icon {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  transition-delay: 0s;
}

.services__content {
  position: relative;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.services__title {
  margin: 10px 0 5px 0;
  font-size: 1.7rem;
  font-weight: 600;
}

.services__description {
  font-size: 0.95rem;
  font-weight: 400;
  padding-top: 10px;
}

/*Work*/

.demo-work {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: dashed 2px #3c1053;
}

.work-c {
  color: #3c1053;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 15px;
  margin: 5px;
}

/*Sección Contacto*/

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  margin: 30px;
}

.wrapper>* {
  padding: 1em;
}

.company-info {
  background: #660066;
  text-align: center;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
}

.contacto-p {
  color: #f9feff;
  font-size: 1.5vw;
}

.boton-c {
  color: #f9feff !important;
}

/* FORM CONTACTS
 MOBILE SIZE FIRST */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #660066;
  outline: none;
}

.contact form button {
  background: #660066;
  border-radius: 25px;
  text-transform: uppercase;
}

.sub-contacto {
  color: #f9feff;
  font-size: 1.5vw;
}

.datos-c {
  color: #660066;
}

.contacto-lista {
  margin-top: 45px;
}

/* LARGE SCREENS */
@media(min-width:700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper>* {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/*Fín Sección Contacto*/
/*Footer*/


footer {
  width: 100%;
  height: 90px;
}

footer p {
  color: #660066;
  display: flex;
  justify-content: center;
  font-size: 15pt;
}

.redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 400px;
}

.boton-redes {
  z-index: 1;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: center;
  color: #660066;
  font-size: 16px;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 50px;
}

.boton-redes:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #660066;
  border-radius: 50px;
}

.boton-redes:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 50px;
}

.boton-redes:hover {
  color: white;
  border-radius: 50px;
}

.boton-redes:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 50px;
}

.boton-icono {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: white;
}

.boton-boton {
  position: relative;
  display: block;
  height: 100%;
}

.icono-redes {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #660066;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

.icono-redes:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.icono-redes:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.icono-redes:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.icono-redes:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.boton-redes:hover .icono-redes {
  transform: translateZ(0) scale(1.7);
}


/*Fín Footer*/